<div class="jumbotron principal">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <p></p>
          <p>Tu propio negocio</p>
         <h1 class="display-4 ng:inverse"><b>Miles de productos para hacer negocios, arranca hoy mismo tu ecommerce.</b></h1>
        </div>
      </div>
    </div>
</div>
<!-- Banner-->
 <div class="jumbotron jumbotron-fluid secuence">
  <div class="container">
    <h2 class="display-6">Cientos de marcas y Creadores ofertando productos para hacer negocios contigo y lo mejor es, que puedes iniciar con $0.00 MXN.</h2>
  </div>
</div>
<!-- Bienvenida -->
<div class="container marketing">
<!--Feature 1 socios-->
<div class="row featurette">
  <div class="col-md-7">
      <h2 class="featurette-heading">Sólo selecciona productos.<span class="text-muted"> Y tu página de venta está lista.</span></h2>
      <hr>
        <h5>Socios nuevos, negocios nuevos.</h5>
              <p class="lead">Inicia sin inventario</p>
              <ol>
                  <li>Regístrate como Socio.</li>
                  <li>Los productos que quieras se agregan instantaneamente.</li>
                  <li>Carga tu logo, descripción y redes sociales.</li>
                  <li>Agrega servicios y productos, propios.</li>
                  <li>Los Creadores (proveedores) envían cada compra a tu cliente sin que pase por tus manos.</li>
                  <li>Tú y tu proveedor reciben sus ganancias correspondientes con cada compra.</li>
                </ol>
                <div>
                    <a  [routerLink]= "['/RegistroSocios']" class="btn btn-primary mb-2">Registrarme como Socio</a>
                </div>
  </div>
  <div class="col-md-5">
      <img class="center" src="assets/img/página_socios.png" alt="México Dropshipping">
  </div>
</div>

  <hr>
<!--Feature 2 socios-->
<div class="row featurette">
   <div class="col-md-5">
     <img class="featurette-image img-fluid mx-auto" src="assets/img/retail_socios.png" alt="México Dropshipping">
   </div>
   <div class="col-md-7">
     <h2 class="featurette-heading">Encuentra proveedores.<span class="text-muted"> Marcas y productos con alta velocidad de venta.</span></h2>
     <hr>
       <p class="lead">Creadores de todas partes con propuestas sorprendentes, ganancias inmejorables y trato directo.</p>
        <ol>
          <li>Regístrate como Socio.</li>
          <li>Ingresa al buscador de ofertas.</li>
          <li>Compra tus productos y recibe en tu domicilio.</li>
          <li>Crea tu tienda en línea sin ningún costo.</li>
          <li>También puedes subir tus productos y servicios, redes sociales y horarios de atención.</li>
          <li>Vende en todas partes en internet y expande los horizontes de tu establecimiento físico.</li>
        </ol>
     <a  [routerLink]= "['/RegistroCreadores']" class="btn btn-primary mb-2">Inicia ahora sin costo.</a>
    </div>
 </div>
 <hr>
  <!--Feature 3 socios-->
  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Social media.<span class="text-muted"> Atrae clientes, identifícalos y síguelos en todo momento.</span></h2>
        <hr>
          <h5>Inteligencia de negocios para todos.</h5>
                <ul>
                    <li>Vincula todos tus identificadores y redes.</li>
                    <li>Lanza campañas de marketing y monitorea la actividad.</li>
                    <li>Obtén análisis en tiempo real de visitas y compras.</li>
                    <li>Acceso total a base de datos de visitantes, compradores e interesados.</li>
                    <li>Segmenta de mejor manera a tu audiencia y comienza a vender exponencialmente.</li>
                </ul>
                <div>
                  <a  [routerLink]= "['/RegistroCreadores']" class="btn btn-primary mb-2">Registrarme como Socio</a>
                </div>

    </div>
    <div class="col-md-5">
        <img class="center" src="assets/img/social_media_fudefafa.png" alt="México Dropshipping">
    </div>
  </div>
</div>
<!-- Banner-->
<div class="jumbotron jumbotron-fluid red">
  <div class="container text-center">
     <h1 class="display-4">Móntate a la ola de comercio en línea.</h1>
     <p class="lead">Con un valor superior a los 17 mil millones de dólares sólo en méxico, el ecommerce es un negocio rentable y en expansión permanente.</p>
  </div>
</div>
  <!--Skills grid
  <div class="container second-container">
      <h1 class="display-4">Control total</h1>
      <hr class="my-4">
      <div class="row">
          <div class="col-md-6">
              <h5>Creamos fudefafa para ti</h5>
              <p class="lead">Nos aseguramos de que todo lo que te preocupa como envíos, distribución, ganancias, compras, pagos, administración, etcétera, estén disponibles en tu panel de control, no necesitas ser un experto ni aprender ningún nuevo programa.</p>
          </div>
        <div class="col-md-6">
          <ul class="list-group">
            <p>&#10003; &#160;Determina tu capacidad de producción.</p>
            <p>&#10003; &#160;Elige el nivel mínimo y máximo de compra.</p>
            <p>&#10003; &#160;Configura los precios de venta y el porcentaje de ganancia.</p>
            <p>&#10003; &#160;Establece los horarios y días de recolección.</p>
            <p>&#10003; &#160;Controla y administra todas tus ganancias.</p>
          </ul>
        </div>
      </div>
    </div>

  cards <div class= 'img src="assets/img/Background_fudefafa.png" class="img-fluid" alt="Responsive image""'>
      <h5>fudefafa es la plataforma de negocios de América Latina</h5>
  </div>

  Last Call to action -->
  <div class="container main-container">
    <div class="row">
      <div class="col-md-4">
        <h5>Comienza a usar fudefafa.com, hoy mismo.</h5>
        <p>Arranca gratis / Sin agregar datos bancarios.</p>
      </div>
      <div class="col-md-8">
         <div class="form-row">
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <a  [routerLink]= "['/RegistroCreadores']" class="btn btn-primary mb-2">Iniciar prueba</a>
            </div>
         </div>
      </div>
    </div>

