<nav class="navbar navbar-expand-lg navbar-light bg-grey">
  <div class="container">
  <a class="navbar-brand" [routerLink]= "['home']">
    <img src="/assets/img/fa-64.png" width="30" height="30" class="d-inline-block align-top" alt="">
    fudefafa
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['home']">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]= "['Socios']">Vendedores</a>
        </li>
        <!---<li class="nav-item">
          <a class="nav-link disabled" [routerLink]= "['PreguntasFrecuentes']">FAQs</a>
        </li>-->
      </ul>
      <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Más información
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="Precios">Precios Creadores</a>
              <a class="dropdown-item" href="PreciosSocios">Precios Socios</a>
              <a class="dropdown-item" href="PreguntasFrecuentes">FAQs</a>
              <a class="dropdown-item" href="TiendaMuestra">Tienda muestra</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Login</a>
            </div>
        </div>
        <a [routerLink]= "['/RegistroCreadores']" class="btn btn-outline-primary">Iniciar Sesión</a>
    </div>
  </div>
</nav>
