<body>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Precios Creadores</h1>
    <p class="lead">Vender grandes cantidades de producto o solo algunos es posible en fudefafa. Accede a miles de Socios vendedores que llevarán a tu negocio al éxito sin importar su tamaño, ubicación o antiguedad. El mejor instrumento de expansión está aquí, regístrate y arranca hoy mismo.</p>
    <br>
    <br>
    <a  [routerLink]= "['/RegistroCreadores']" class="btn btn-primary mb-2 btn-block">¡Comienza hoy  tu prueba gratuita!</a>
  </div>
  <br>
  <div class="container box-shadow">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Básico</th>
              <th scope="col">Estandar</th>
              <th scope="col">Premium</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Planes (MXN)</th>
              <td><h1 scope="col">549<small class="text-muted">/mes</small></h1></td>
              <td><h1 scope="col">749<small class="text-muted">/mes</small></h1></td>
              <td><h1 scope="col">999<small class="text-muted">/mes</small></h1></td>
            </tr>
            <tr>
              <td scope="row">Email marketing</td>
              <td>5</td>
              <td>10</td>
              <td>20</td>
            </tr>
            <tr>
              <td scope="row">Socios Vendedores</td>
              <td>-1,000</td>
              <td>-2,000</td>
              <td>Ilimitados</td>
            </tr>
            <tr>
              <td scope="row">Productos cargados</td>
              <td>Ilimitados</td>
              <td>Ilimitados</td>
              <td>Ilimitados</td>
            </tr>
            <tr>
              <td scope="row">Archivos almacenados</td>
              <td>Ilimitados</td>
              <td>Ilimitados</td>
              <td>Ilimitados</td>
            </tr>
            <tr>
              <td scope="row">Soporte 24/7</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
            </tr>
            <tr>
              <td scope="row">Creación de reportes</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
            </tr>
            <tr>
              <td scope="row">Página principal de marca</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
            </tr>
            <tr>
              <td scope="row">Límite de venta</td>
              <td>$500 USD/mes</td>
              <td>Ilimitado</td>
              <td>Ilimitado</td>
            </tr>
            <!---<tr>
              <td scope="row">Costos por transacción</td>
              <td>2.0%</td>
              <td>1.0%</td>
              <td>0.5%</td>
            </tr>-->
            <tr>
              <td scope="row">Informes avanzados</td>
              <td>-</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
            </tr>
            <tr>
              <td scope="row">Envíos</td>
              <td>A todo el mundo</td>
              <td>A todo el mundo</td>
              <td>A todo el mundo</td>
            </tr>
            <tr>
              <td scope="row">Traducción de productos</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
              <td>&#10003;</td>
            </tr>
            <tr>
              <td scope="row">Actualización de datos</td>
              <td>3/mes</td>
              <td>Ilimitado</td>
              <td>Ilimitado</td>
            </tr>
            <tr>
              <td scope="row">Integración de influencers</td>
              <td>-</td>
              <td>10</td>
              <td>Ilimitado</td>
            </tr>
          </tbody>
        </table>
  </div>
