<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/src/assets/img/fa-64.png" alt="" width="95" height="24">
        <small class="d-block mb-3 text-muted">Hecho en México con &#9829; por fudefafa &copy; 2018-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Redes sociales</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.facebook.com/Fudefafa/">facebook</a></li>
          <li><a class="text-muted" href="https://www.instagram.com/fudefafaoficial/">Instagram</a></li>
          <li><a class="text-muted" href="https://twitter.com/hifudefafa">Twitter</a></li>
          <li><a class="text-muted" href="https://playbusiness.mx/startups/fudefafa">Play Business</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Saber más</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">¿Qué es un Creador?</a></li>
          <li><a class="text-muted" href="#">¿Qué es un Socio?</a></li>
          <li><a class="text-muted" href="#">Compradores finales</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Comunicación</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">¿Quiénes somos?</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
